<div class="container d-flex flex-column align-items-center w-50 mt-4">

  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs w-100">
      <%= f.input :first_name,
                  required: true,
                  autofocus: true %>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true %>
      <%= f.input :phone,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "phone" }%>
      <%= f.input :address,
                  required: true,
                  autofocus: true %>
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
      <div class="d-flex align-items-center justify-content-between">
        <%= f.input :photo, as: :file %>
        <%= image_tag @user.photo_user, size: "60x60" if @user.photo_user.attached? %>
      </div>
    </div>

    <div class="form-actions d-flex justify-content-between text-center align-items-center mb-5">
      <%= link_to "Volver al perfil", :back%>
      <%= f.button :submit, "Update"%>
      <%= link_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
    </div>
  <% end %>

</div>
