<h1> Resumen </h1>
<div class="container">
  <%= @videogame.title %>
  <%= @videogame.rating %>
  <%= @videogame.condition %>
  <%= @videogame.price %>
</div>

<%= link_to "Continuar con la compra" %>
