<div class="container">
  <h1> Resumen </h1>
  <div class="container d-flex justify-content-between m-0">
    <div class="" style="">
      <%= @videogame.title %>
      <%= @videogame.rating %>
      <%= @videogame.condition %>
      <%= @videogame.price %>
    </div>
      <%= render "shared/checkout" %>
  </div>
</div>
