
 		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-8">
							<div class="intro-excerpt">
								<h1>Compra tus juegos con <span class="d-block">RocketGx 🚀</span></h1>
								<div>
                  <p class="mb-4">RocketGX es el mercado para gamers de más rápido crecimiento. Encuentra los mejores juegos, tarjetas regalo y recargas de PC, PlayStation, Xbox y Nintendo a precios bajos</p>
                  <p><%= link_to "Explorar", videogames_path, class: "btn btn-secondary me-2" %></p>
                </div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="hero-img-wrap">
                <%= image_tag "agent_raze-min.png", class:"img-fluid"%>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		<!-- Start Product Section -->
		<div class="product-section">
			<div class="container">
				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
						<h2 class="mb-4 section-title">Los mejores juegos.</h2>
						<p class="mb-4">Este son los luegos más vendidos entre los usuarios. </p>
						<p><%= link_to "Explorar", videogames_path, class: "btn btn-secondary me-2" %></p>
					</div>
					<!-- End Column 1 -->

					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="cart.html">
							<%= image_tag "https://cdn-products.eneba.com/resized-products/s29Db6ZBVLneuD0t66qnYRamvGDP3p8chLz-3IomxcU_350x200_1x-0.jpeg", class:"img-fluid product-thumbnail", id:"best_games" %>
							<h3 class="product-title">Grand Theft Auto V: Edición Online Premium Rockstar Games</h3>
							<strong class="product-price">$50.00</strong>

							<span class="icon-cross">
								<%=image_tag "cross.svg" %>
							</span>
						</a>
					</div>
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="cart.html">
							<%= image_tag "https://cdn-products.eneba.com/resized-products/iQnKhzUFz_oq1G-fm0rAJO_0dYd_g29ESxMyrGkNDa4_350x200_1x-0.jpg", class:"img-fluid product-thumbnail", id:"best_games" %>
							<h3 class="product-title">EA SPORTS FC 24 (EN/FR/ES-MX/BR) (PC)</h3>
							<strong class="product-price">$32,62</strong>

							<span class="icon-cross">
								<%=image_tag "cross.svg" %>
							</span>
						</a>
					</div>
					<!-- End Column 3 -->

					<!-- Start Column 4 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="cart.html">
							<%= image_tag "https://cdn-products.eneba.com/resized-products/8iuo-OX1uBHwDUQgp9Nr7_ty6vE1AaW-LnJ9eqodbIM_350x200_1x-0.0966e915-02e3-4027-9354-a1e1384ab9dd", class:"img-fluid product-thumbnail", id:"best_games" %>
							<h3 class="product-title">MLB® The Show™ 24 (PC)</h3>
							<strong class="product-price">$37,52</strong>

							<span class="icon-cross">
								<%=image_tag "cross.svg" %>
							</span>
						</a>
					</div>
					<!-- End Column 4 -->

				</div>
			</div>
		</div>
		<!-- End Product Section -->

    <!-- Start Testimonial Slider -->
        <section>
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8 text-center">
          <h3 class="mb-4">Testimonios</h3>
          <p class="mb-4 pb-2 mb-md-5 pb-md-0">
            Siempre nos aseguramos de que los precios de todos nuestros
            productos sean los mejores del mercado, ¡para que puedas disfrutar
            más por menos! Nos alegra haber cumplido con tus expectativas.
          </p>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-4 mb-5 mb-md-0">
          <div class="d-flex justify-content-center mb-4">
            <img src="https://user-images.trustpilot.com/65e5f05771f5f00011753377/73x73.png"
              class="rounded-circle shadow-1-strong" width="150" height="150" />
          </div>
          <h5 class="mb-3">Juan Herrera</h5>
          <h6 class="text-primary mb-3">Cliente</h6>
          <p class="px-xl-3">
            <i class="fas fa-quote-left pe-2"></i>Increible servicio, fue muy facil de utilizar y todos los precios son
              mucho mejor que en steam o paginas parecidas
          </p>
          <ul class="list-unstyled d-flex justify-content-center mb-0">
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star-half-alt fa-sm text-warning"></i>
            </li>
          </ul>
        </div>
        <div class="col-md-4 mb-5 mb-md-0">
          <div class="d-flex justify-content-center mb-4">
            <img src="https://user-images.trustpilot.com/6203b43db71748001367853b/73x73.png"
              class="rounded-circle shadow-1-strong" width="150" height="150" />
          </div>
          <h5 class="mb-3">Camila</h5>
          <h6 class="text-primary mb-3">Cliente</h6>
          <p class="px-xl-3">
            <i class="fas fa-quote-left pe-2"></i>Me encanta rocketgx, solo que no me gusta tener que entrar desde Internet para comprar tarjetas de regalo para por
            ejemplo psn, actualicen la aplicación para poder comprarla desde allí :)
          </p>
          <ul class="list-unstyled d-flex justify-content-center mb-0">
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
          </ul>
        </div>
        <div class="col-md-4 mb-0">
          <div class="d-flex justify-content-center mb-4">
            <img src="https://user-images.trustpilot.com/65e4b6c30a1b730012165059/73x73.png"
              class="rounded-circle shadow-1-strong" width="150" height="150" />
          </div>
          <h5 class="mb-3">Provedor</h5>
          <h6 class="text-primary mb-3">Marketing Specialist</h6>
          <p class="px-xl-3">
            <i class="fas fa-quote-left pe-2"></i>Execelente!.
          </p>
          <ul class="list-unstyled d-flex justify-content-center mb-0">
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="far fa-star fa-sm text-warning"></i>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- End Testimonial Slider -->
