
<div class="container d-flex flex-column align-items-center w-50">
  <h1 class="title my-3">New Videogame</h1>
  <div class="w-75">
    <%= simple_form_for @videogame do |f| %>
      <%= f.input :title, label: "Título del juego" %>
      <%= f.input :rating, label: "Calificacion del juego", collection: ['Malo', 'Regular', 'Bueno', 'Excelente'] %>
      <%= f.input :condition, label: "Condicion del juego", collection: ['Deficiente', 'Regular', 'Bueno', 'Impecable']%>
      <%= f.input :price, label: "Precio", as: :numeric%>
      <%= f.button :submit, class: 'btn-success' %>
    <% end %>
  </div>
</div>

<%= console %>
