<div class="title text-center m-4"><h1><%= @videogame.title %></h1></div>
<div class="d-flex justify-content-center mb-4" id="card_videogame">
  <div class="card_videogame d-flex p-5 align-items-center">
    <div class="img_videogame">
      <%= cl_image_tag @videogame.photo.key if @videogame.photo.key %>
    </div>
    <div class="card-product-infos p-4">
      <div class="ms-3">
        <h2>Precio: $<%= @videogame.price %></h2>
        <p>Calificación: <%= @videogame.rating %></p>
        <p>Dueño: <strong><%= link_to @videogame.user.first_name, videogame_seller_profile_path(videogame_id: @videogame, id: @videogame.user ) %></strong></p>
      </div>
      <div>
        <% if current_user == @videogame.user%>
          <div>
            <%= link_to edit_videogame_path(@videogame) do %>
              Editar <i class="fa-solid fa-pen" style="color:red"></i>
            <% end %>
          </div>
          <div class="mb-2">
            <%= link_to videogame_path(@videogame), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              Eliminar <i class="fa-solid fa-trash" style="color:red"></i>
            <% end %>
          </div>
        <% else %>
          <div>
            <%= link_to new_videogame_purchase_path(@videogame) do %>
              <button type="submit" class="btn btn-secondary ms-3" id="btn_buy">Agregar al carrito</button>
            <% end %>
          </div>
        <% end %>
        <%= link_to videogames_path do %>
          <button type="submit" class="btn btn-success ms-3 mt-2" id="btn_back">Volver a juegos</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
